@model Emp_Intranet_UI.Models.DisplayModels.HomeDisplayModel
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/Scripts/Modal.js")
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Update User</h2>

        @using (Html.BeginForm("UpdateUser", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Profile.Id)
            @Html.HiddenFor(model => model.Profile.user)

            @Html.HiddenFor(model => model.employee.Id)
            @Html.HiddenFor(model => model.employee.userid)

            <!-- Display validation errors -->
            @Html.ValidationSummary(true, "All", new { @class = "text-danger" })
            <!-- Profile -->
            <div class="form-group">
                title:
                @Html.TextBoxFor(model => model.Profile.profile_title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Profile.profile_title)
            </div>

            <div class="form-group">
                Name:
                @Html.TextBoxFor(model => model.Profile.profile_name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Profile.profile_name)
            </div>

            <div class="form-group">
                Surname:
                @Html.TextBoxFor(model => model.Profile.profile_surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Profile.profile_surname)
            </div>

            <!-- Employee -->

            <div class="form-group">
                Job Title:
                @Html.TextBoxFor(model => model.employee.employee_jobtitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employee.employee_jobtitle)
            </div>
            <div class="form-group">
                Department:
                @Html.TextBoxFor(model => model.employee.employee_department, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employee.employee_department)
            </div>
            <div class="form-group">
                Contract:
                @Html.TextBoxFor(model => model.employee.employee_contract, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employee.employee_contract)
            </div>
            <div class="form-group">
                Start Date:
                @Html.TextBoxFor(model => model.employee.employee_startdate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employee.employee_startdate)
            </div>

            <button type="submit">Update</button>
        }
    </div>
</div>


