<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Company.Co</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/Modal.js")


</head>
<body>
    <main>
        <!--* Header for the navigation-->
        <nav>
            <div class="logo"><img src="#" alt=""></div>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Leave", "Leave", "Leave")</li>
                <li>@Html.ActionLink("LogOut", "Logout", "Auth")</li>
            </ul>
        </nav>
        <section>
            @RenderBody()
        </section>

        <footer>
            © 2021 Company.co All rights reserved.
        </footer>
    </main>
    @RenderSection("scripts", required: false)
</body>

</html>
