@model Emp_Intranet_UI.Models.loginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<div class="auth">
    <div class="login-info">
        <h2>Welcome Back</h2>
        <p>
            Sign in or create an account.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit consectetur adipisci repudiandae, distinctio, est amet voluptatum expedita blanditiis facere officia reprehenderit veritatis! A vel quis obcaecati quo deserunt nemo. Corporis.
        </p>

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- Display validation errors -->
        @Html.ValidationSummary(true, "All", new { @class = "text-danger" })

<div class="login-form">
    <h2>Sign In</h2>

    <span>Username/Email</span>
    @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control" } })

    <span>Password</span>
    @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control" } })

    <button type="submit">Login</button>
    @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
</div>

    }
</div>



