@model Emp_Intranet_UI.Models.loginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<div class="auth">
    <div class="login-info">
        <h2>Welcome Back</h2>
        <p>
            Sign in or create an account.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit consectetur adipisci repudiandae, distinctio, est amet voluptatum expedita blanditiis facere officia reprehenderit veritatis! A vel quis obcaecati quo deserunt nemo. Corporis.
        </p>

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="login-form">
            <h2>Sign In</h2>
            <span>Username/Email</span>
            <!--<input type="email" placeholder="janed@company.co" id="email" required>-->
            @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
            <span>Password</span>
            <!--<input type="password" placeholder="*******" name="password" id="password" required>-->
            @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
            <button type="submit">Login</button>

        </div>
    }
</div>



